<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467432588315-sudiakiib9d9q51dnlf24q6l02amcjk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467432588315-sudiakiib9d9q51dnlf24q6l02amcjk8</string>
	<key>API_KEY</key>
	<string>AIzaSyDFOhexOenvmckLsSXHk7UkiRZTijt_0ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>467432588315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.kwebdev.twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-dea5d</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-dea5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467432588315:ios:5ef60cc7e64d13c1e924be</string>
</dict>
</plist>